@import "../../styles/abstracts/index.scss";

.product {
  padding: 24px 16px;
  max-width: 1200px;
  margin: auto;

  @include onTablet {
    padding: 41px 24px;
  }

  @include onBigTablet {
    padding: 41px 24px;
  }

  &__toBack {
    display: flex;
    align-items: center;
    height: 16px;
    margin-bottom: 16px;
    padding-left: 10px;

    @include notMobile {
      padding-left: 0;
    }
  }

  &__toBack-button {
    display: block;
    margin-right: 10px;
    cursor: pointer;
  }

  &__toBack-label {
    padding-left: 5px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include notMobile {
      flex-direction: row;
    }

    @include notMobile {
      justify-content: flex-start;
    }

    @include onDesktop {
      justify-content: start;
    }
  }
  &__header {
    text-align: center;
    margin-bottom: 38px;

    @include notMobile {
      text-align: left;
    }
  }

  &__image {
    height: 100%;
    margin: 0 auto;
    margin-bottom: 23px;
    background-color: $color-white-2;
    border-radius: 5px;
    padding: 5px;

    @include onTablet {
      max-width: 274px;
    }

    @include onBigTablet {
      max-width: 380px;
    }

    @include onDesktop {
      max-width: 442px;
      height: 100%;
    }
  }

  &__image-item {
    height: 100%;
    margin: auto;
    object-fit: contain;

    .product__slider-img & {
      max-height: 274px;

      @include onBigTablet {
        max-height: 442px;
      }

      @include onDesktop {
        max-height: 442px;
      }
    }
  }

  &__image-small {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;

    @include onTablet {
      max-width: 35px;
      max-height: 35px;
    }

    @include onBigTablet {
      max-width: 60px;
      max-height: 60px;
    }

    .slick-current & {
      border: 1px solid $color-white;
    }

    @include onDesktop {
      max-width: 80px;
      max-height: 80px;
    }
  }

  &__slider-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    @include notMobile {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    @include onTablet {
      
      width: 60%;
    }

    @include onBigTablet {
      width: 60%;
    }

    @include onDesktop {
      width: 50%;
    }
  }

  &__slider-img {
    @include notMobile {
      width: calc(95% - 80px);
      order: 1;
      overflow: hidden;
      padding-inline: 10px;
    }
  }

  &__slider-nav {
    .slick-track {
      @include onTablet {
        width: 50px !important;
      }

      @include onBigTablet {
        width: 50px !important;
      }

      @include onDesktop {
        display: flex;
        flex-direction: column;
        width: 80px !important;
      }
    }

    .slick-slide {
      padding: 0 5px;

      @include notMobile {
        margin-bottom: 10px;
        overflow: hidden;
        padding: 5px;
        max-height: 50px;
      }

      @include onTablet {
        width: 50px !important;
      }

      @include onBigTablet {
        width: 50px !important;
      }

      @include onDesktop {
        width: 80px !important;
        max-height: 80px;
      }
    }
  }

  &__form {
    @include onDesktop {
      width: 30%;
    }
  }

  &__form-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  &__form-label-color {
    color: $color-secondary;
  }

  &__form-label-id {
    color: $color-icons;
  }

  &__form-color {
    display: flex;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid $color-elements;
  }

  &__form-color-wrapper {
    margin-right: 10px;
  }

  &__form-color-item {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    outline: 1px solid $color-phone-grey;
    outline-offset: 2px;

    &:hover,
    :active {
      outline: 1px solid $color-white;
    }

    &--midnightgreen {
      border: 1px solid $color-phone-green;
      background-color: $color-phone-green;
    }

    &--gold {
      border: 1px solid $color-phone-gold;
      background-color: $color-phone-gold;
    }

    &--spacegray {
      border: 1px solid $color-surface-1;
      background-color: $color-surface-1;
    }

    &--silver {
      border: 1px solid $color-phone-grey;
      background-color: $color-phone-grey;
    }

    &--white {
      border: 1px solid $color-phone-white;
      background-color: $color-phone-white;
    }

    &--rosegold {
      border: 1px solid $color-phone-pink;
      background-color: $color-phone-pink;
    }

    &---black {
      border: 1px solid $color-black;
      background-color: $color-black;
    }

    &--red {
      border: 1px solid $color-red;
      background-color: $color-red;
    }

    &--purple {
      border: 1px solid $color-purple;
      background-color: $color-purple;
    }

    &--green {
      border: 1px solid $color-phone-green;
      background-color: $color-phone-green;
    }

    &--yellow {
      border: 1px solid $color-phone-yellow;
      background-color: $color-phone-yellow;
    }

    &--coral {
      border: 1px solid $color-phone-coral;
      background-color: $color-phone-coral;
    }
  }

  &__form-capacity-label {
    color: $color-secondary;
    margin-bottom: 8px;
  }

  &__form-capacity-btn {
    display: flex;
    padding-bottom: 25px;
    margin-bottom: 32px;
    border-bottom: 1px solid $color-elements;
  }

  &__form-capacity-item {
    display: inline-block;
    padding: 7px 8px 4px;
    border: 1px solid $color-icons;
    margin-right: 8px;
    cursor: pointer;

    &.is-active {
      color: $color-black;
      background-color: $color-white;
      border: 1px solid $color-white;
    }
  }

  &__form-price {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__form-price-actual {
    margin-right: 8px;
  }

  &__form-price-old {
    font-size: 22px;
    color: $color-secondary;
    text-decoration: line-through;
  }

  &__form-buttons {
    margin-bottom: 32px;
  }

  &__form-details {
    margin-bottom: 56px;
  }

  &__form-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__form-details-key {
    color: $color-secondary;
  }

  &__form-details-values {
    text-align: right;
  }

  &__about {
    margin-bottom: 56px;
  }

  &__about-header {
    padding-bottom: 16px;
    border-bottom: 1px solid $color-icons;
    margin-bottom: 32px;
  }

  &__about-title {
    margin-bottom: 16px;
  }

  &__about-text {
    margin-bottom: 32px;
    color: $color-secondary;
  }

  &__specs {
    margin-bottom: 56px;
  }

  &__specs-header {
    padding-bottom: 16px;
    margin-bottom: 30px;
    border-bottom: 1px solid $color-icons;
  }

  &__specs-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__specs-key {
    color: $color-secondary;
  }

  &__info {
    @include onDesktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__about {
    @include onDesktop {
      width: 50%;
      padding-right: 40px;
    }
  }

  &__specs {
    @include onDesktop {
      width: 50%;
    }
  }

  &__recomendations {
    position: relative;
    margin-bottom: 48px;
  }
  &__recomendations-header {
    margin-bottom: 25px;
  }
}
