@import "../../styles/abstracts/index.scss";

.phone-card {
  width: 100%;
  min-width: 230px;
  max-width: 272px;
  height: 506px;

  padding: 32px;

  background-color: $color-surface-1;

  &__image-container {
    background-color:$color-white;
    width: 208px;
    height: 196px;
    margin-bottom: 24px;
  }

  &__image {
    display: block;
    margin: 0 auto;
    height: 100%;
  }

  &__divider {
    border-bottom: 1px solid $color-elements;
    margin-bottom: 16px;
  }

  &__info {
    margin-bottom: 16px;
  }

  &__details {
    display: flex;
    margin-bottom: 8px;

    justify-content: space-between;
    font-size: 12px;
  }

  &__attribute {
    color: $color-secondary;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }

  &__price-block {
    margin-bottom: 8px;
    display: flex;

    justify-content: flex-start;
    align-items: center;
  }

  &__price {
    font-size: 22px;
    line-height: 31px;
    margin-right: 8px;
  }

  &__price-discount {
    font-size: 22px;
    line-height: 31px;
    color: $color-secondary;
    text-decoration: line-through;
  }

  &__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .product-buttons {
    display: flex;
  }

  .addToCart {
    height: 40px;
    min-width: 160px;
    text-align: center;
    background-color: $color-accent;
    flex-grow: 1;
    cursor: pointer;

    &:hover {
      background-color: $color-accent-hover;
    }

    &:active {
      background-color: $color-surface-2;
    }
  }

  .addToWishlist {
    width: 40px;
    height: 40px;
    background-color: $color-surface-2;
    background-image: url(../../assets/icons/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 8px;
    cursor: pointer;

    &:hover {
      background-color: $color-icons;
    }
  }

  .is-selected {
    background-image: url(../../assets/icons/heart-red.svg);
    background-size: 16px 14px;
  }
}
