@import "../../styles/abstracts/index.scss";

.main {
  margin: 0 auto;
  @include grid-container;
  max-width: 1200px;

  @mixin onDesktop {
    margin: 0 auto;
    @include grid-container;
  }
}

.home-header {
  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 32px;
  }

  @include onDesktop {
    margin-bottom: 56px;
  }
}