@import "../../styles/abstracts/index.scss";

.main {
  margin: 0 auto;
  @include grid-container;
  max-width: 1200px;

  @mixin onTabletSize {
    margin: 0 auto;
    @include grid-container;
  }

  @mixin onDesktop {
    margin: 0 auto;
    @include grid-container;
  }
}

.home-header {
  margin-bottom: 24px;
  grid-column: 1/5;

  @include onDesktop {
    margin-bottom: 56px;
    grid-column: 1/22;
  }
}
.home-container {
  grid-column: 1/5;
  width: 100%;
  padding: 0;

  @include onTabletSize {
    grid-column: 2/12;
  }

  @include onDesktop {
    grid-column: 2/24;
  }
}
