@import "../../styles/abstracts/index.scss";

.header {
  height: 48px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid $color-elements;
  margin-bottom: 24px;
  z-index: 100;
  background-color: $color-black;

  @include onTablet {
    margin-bottom: 32px;
  }

  @include onDesktop {
    height: 64px;
    margin-bottom: 56px;
  }

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__logo {
    display: block;
    margin-left: 16px;
    margin-right: 32px;
    width: 64px;

    @include onDesktop {
      margin-left: 24px;
      margin-right: 48px;
      width: 80px;
    }
  }

  &__likeAndBag {
    display: none;

    @include notMobile {
      display: flex;
      margin: auto 0;
      height: 100%;
      align-items: center;
    }
  }
}

.like,
.bag {
  position: relative;
  display: flex;
  width: 64px;
  height: 100%;
  flex-grow: 1;
  border-left: 1px solid $color-elements;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  transition: background-color 0.3s ease-in-out;

  @include notMobile {
    padding-right: 25px;
    padding-left: 25px;
  }

  &:hover {
    background-color: $color-elements;
  }
}

.nav__list {
  display: none;

  @include notMobile {
    display: flex;
  }
}

.nav__item {
  display: flex;
  padding-right: 32px;
  letter-spacing: 0.04em;
  color: $color-secondary;

  &:last-child {
    padding-right: 0;
  }

  @include notMobile {
    padding-right: 64px;
  }
}

.nav__link:hover {
  color: $color-white;
}

.nav__link.is-active {
  color: $color-white;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -19px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: $color-white;

    @include onDesktop {
      bottom: -27px;
    }
  }
}

.nav__link {
  transition: color 0.3s ease-in-out;
}

.burger__menu {
  width: 48px;
  display: flex;
  margin: auto 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $color-elements;
  background-image: url("../../assets/icons/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  @include notMobile {
    display: none;
  }
}
