@import "../../styles/abstracts/index.scss";

.recomendations {
  & .slick-prev {
    left: unset;
    right: 40px;
    top: -40px;
    width: 32px;
    height: 32px;
    border: 1px solid $color-elements;

    &:hover, :active {
      background-color: $color-surface-2;
    }

    &::before {
      position: absolute;
      top: 1px;
      left: 11px;
      content: url(../../assets/icons/chevron-left.svg);
    }

    @include onTablet {
      right: 40px;
      top: -45px;
    }
  }

  & .slick-next {
    top: -40px;
    right: 0;
    width: 32px;
    height: 32px;
    border: 1px solid $color-elements;

    &:hover, :active {
      background-color: $color-surface-2;
    }

    &::before {
      position: absolute;
      top: 1px;
      left: 11px;
      content: url(../../assets/icons/chevron-right.svg);
    }

    @include onTablet {
      right: 0px;
      top: -45px;
    }
  }

  &__item {
    height: 100%;
    margin: 0 auto;
    margin-bottom: 23px;

    @include onTablet {
      max-width: 274px;
    }

    @include onDesktop{
      max-width: 442px;
      height: 100%;
    }
  }
}