// product catalog most used colors
$secondaryColor: #75767f;
$iconsColor: #4a4d58;
$elementsColor: #3b3e4a;
$Surface1Color: #161827;
$Surface2Color: #323542;
$blackColor: #0f1121;
$whiteColor: #f1f2f9;
$accentColor: #905bff;
$greenColor: #27ae60;
$redColor: #eb5757;