@import "../../styles/abstracts/index.scss";

.phones {
  &__top-actions {
    margin: 0 auto;
    width: 100%;
    max-width: 1136px;
    justify-content: start;

    @media (max-width: 1135px) {
      max-width: 848px;
    }

    @media (max-width: 847px) {
      max-width: 560px;
    }

    @media (max-width: 559px) {
      max-width: 288px;
    }
  }

  // &__header {
  //   margin-bottom: 24px;

  // }
  &__amount {
    margin-bottom: 40px;
    color: $color-secondary;
  }

  &__dropdown:first-child {
    margin-right: 16px;
  }

  &__catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 272px));
    margin: 0 auto;
    margin-bottom: 40px;
    width: 100%;
    max-width: 1136px;
    gap: 16px;
    justify-content: center;
  }

  &__dropdowns {
    position: relative;
    display: flex;

    width: 160px;

    select {
      background-color: $color-surface-2;
      color: #ffffff;
      cursor: pointer;
      font-size: 14px;
      padding: 12px 30px 12px 12px;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;

      &:focus {
        outline: none;
      }

      option {
        background-color: $color-black;
        color: $color-secondary;
        font-size: 14px;

        &:hover {
          background: #000 !important;
          color: $color-white;
        }
      }
    }
  }

  &__dropdowns-label {
    color: $color-secondary;
    margin: 4px;
  }
}

.search {
  position: relative;
  height: 40px;
  width: auto;
  margin-top: 23px;
  margin-left: 16px;
  cursor: pointer;
  box-sizing: border-box;

  

    &-input {
      height: 100%;
      width:auto;

      padding-left: 26px;
      display: flex;
      align-items: center;
      background-color: $color-surface-2;
      display: flex;
      flex-basis: auto;

      &:hover, 
      &:focus {
        border: 1px solid $color-accent;
      }
      // &:focus {
      //   border: 1px solid $color-accent;
      // }
    }

    &-icon {
      background-image: url('../../assets/icons/search.png');
      height: 17px;
      width: 17px;
      position: absolute;
      left: 7px;
      top: 50%;
      transform: translateY(-50%);
      object-fit:fill;
    }
  
}
