@import "../../../styles/";

.cart__item {
  margin-bottom: 16px;
  padding: 16px;
  background-color: $color-surface-1;

  @include onTablet {
    display: flex;
    justify-content: space-between;

    padding: 24px;
  }

  @include onBigTablet {
    display: flex;
    justify-content: space-between;

    padding: 24px;
  }

  @include onDesktop {
    margin-right: 16px;
    display: flex;
    justify-content: space-between;
    width: 752px;
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-phoneData {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    padding: 7px 0;

    @include onTablet {
      margin: 0;
    }

    &__delete {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    &__photo {
      width: 66px;
      height: 66px;
      margin-bottom: 23px;

      padding: 0 7px;

      @include notMobile {
        margin-bottom: 0;
      }
    }

    &__title {
      color: $color-white;
      margin-left: 23px;
      max-width: 128px;
      white-space: wrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include onTabletSize {
        max-width: 176px;
      }

      @include onDesktop {
        white-space: nowrap;
        width: 300px;
        overflow: unset;
        text-overflow: unset;
      }
    }
  }

  &-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;

    @include onTablet {
      gap: 53px;
    }

    &__counter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 13px;

      @include onBigTablet {
        padding-right: 53px;
      }

      @include onDesktop {
        padding-right: 53px;
      }

      &-minus {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;

        border: 1px solid $color-elements;
      }

      &-plus {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;

        background-color: $color-surface-2;
      }

      &-value {
        width: 10px;
        color: $color-white;
      }
    }

    &__value {
      font-weight: 800;
      font-size: 22px;
      line-height: 140%;
      width: 70px;

      color: $color-white;
    }
  }
}
